<!DOCTYPE html>
<html lang="en"
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<h1>Dodawanie Operatora</h1>

<form action="#" th:action="@{/saveOperator}" th:object="${operator}" method="post">
  <!-- Table -->
  <div class="scrollmenu">
    <div style="height: 400px; overflow: scroll;">
      <table border = "1" cellpadding= "10">
        <!-- Table row -->
        <tr>

          <td>ID Operatora:</td>
          <td><input type="number" required th:field="*{ID_Operatora}"></td>
        </tr>
        <!-- Second row -->
        <tr>
          <td>Nazwa:</td>
          <td><input type="text" minlength="1" maxlength="256" required th:field="*{Nazwa}"></td>
        </tr>
        <!-- Third row -->
        <tr>
          <td>Data Zalozenia:</td>
          <td><input type="date" required th:field="*{Data_zalozenia}"></td>
        </tr>
        <tr>
          <td>NIP:</td>
          <td><input type="text" minlength="1" maxlength="1400" required th:field="*{NIP}"></td>
        </tr>
        <tr>
          <td>NumerKRS:</td>
          <td><input type="text" minlength="1" maxlength="1400" required th:field="*{Numer_KRS}"></td>
        </tr>
        <tr>
          <td>Numer REGON:</td>
          <td><input type="number" required th:field="*{Numer_REGON}"></td>
        </tr>



        <!-- Button save -->
        <tr>

          <td colspan="2"><button type="submit">Save</button></td>
        </tr>
      </table>
    </div>

  </div>
</form>
</body>
</html>