<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Main Admin Page</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link rel="stylesheet" href="/css/navigation.css"/>

</head>
<body>
<div class="topnav">
    <a class="active" th:href="@{/index}">Home</a>
    <a th:href="@{/uslugi}">Usługi</a>
    <a th:href="@{/urzadzenia}">Urzadzenia</a>
    <div class="topnav-right">
        <a th:href="@{/pomoc}">Pomoc</a>
        <a th:href="@{/promocje}">Promocje</a>
        <a th:href="@{/index}" onclick="successfullyLogout()">Logout</a>

    </div>
</div>
<!-- Navigation -->
<form>
    <div style="font-size:20px">If you want to logout, click "Logout" button in the right corner.</div>


</form>



<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>

</body>
</html>